<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Om oss</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Vi är en konstnärsduo som arbetar tillsammans sedan 2014. Vi är Jessica van Doorn Fännick och Niklas Fännick. I grunden är vi konsthantverkare och konstsmeder, en med mästarbrev i varmsmide. Nu erbjuder vi dig möjlighet att lära av våra mångåriga erfarenheter.</p>
      </div>
      <div class="col-lg-4">
        <p>Kontakta oss nedan för frågor, eller om du är intresserad av nån av våra kurser.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://fannick.se" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Se vår webbsida - Fännick.se
        </a>
      </div>
    </div>
  </div>
</section>
