<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Kontakta mig</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form id="my-form" action="https://formspree.io/f/xovlkdrj" method="POST">
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Mejladress..."/>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Meddelande:</label>
              <textarea rows="5" name="message" class="form-control" placeholder="Meddelande..." id="message" required
                data-validation-required-message="Skriv ett meddelande."></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-12">
  <button id="my-form-button" class="btn btn-success btn-lg">Submit</button>
  <p id="my-form-status"></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
