<!-- begin contact -->
{% assign c = "c-contact-form" %}
<div class="{{c}}" id="contact">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="{{c}}__form-box">
          <div class="{{c}}__contact-head">
            <h2 class="{{c}}__contact-title">{{ include.form_title }}</h2>
            <p class="{{c}}__contact-description">{{ include.form_description }}</p>
          </div>
             <form id="my-form" class="{{c}}__form" action="https://formspree.io/f/xovlkdrj" method="POST">
            <input type="hidden" name="_to" value="{{include.form_submission_email}}">
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="form-email"> Din Email</label>
              <input type="email" name="email" class="{{c}}__form-input" id="form-email"  placeholder="Mejladress..." required/>
            </div>
            <div class="{{c}}__form-group">
              <label class="{{c}}__form-label screen-reader-text" for="form-text">Your Message</label>
              <textarea rows="5" name="message" class="{{c}}__form-input" placeholder="Meddelande..." id="message" rows="9"  required
                data-validation-required-message="Skriv ett meddelande." required></textarea>
            </div>
            <div class="{{c}}__form-group {{c}}__form-group--button">
              <button class="c-button c-button--primary c-button--large" type="submit">{{ include.form_button_text }}</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end contact -->