<!-- jQuery Version 1.11.0 -->
<script src="{{ " js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" }}"></script>
<script src="{{ " js/classie.js" }}"></script>
<script src="{{ " js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ " js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ " js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" }}"></script>
<!-- Formspree form script -->
<script>
  var form = document.getElementById("my-form");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("my-form-status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Ditt meddelande har skickats! Jag hör av mig så snart jag kan.";
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Ojdå! Nåt gick fel..."
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Ojdå! Nåt gick fel..."
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>


{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}
