{% for post in site.posts %}
  <div class="modal-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-unstyled item-details">
              {% if post.nar %}
              <li>När:
                <strong>{{ post.nar }}</strong>
              </li>
              {% endif %}
              {% if post.var %}
              <li>Var:
                <strong><a href="https://www.google.se/maps/search/{{ post.var }}" target="_blank">{{ post.var }}</a></strong>
              </li>
              {% endif %}
              {% if post.pris %}
              <li>Pris:
                <strong>{{ post.pris }}</strong>
              </li>
              {% endif %}
            </ul>
              {% if post.anmalan %}
              <p>
                <a href="{{ post.anmalan }}" class="btn btn-success btn-lg" target="_blank">
          <i class="fa fa-external-link-alt"></i> Anmäl dig här</a>
             </p>
             {% else %}
             <p>
                <a href="#anmalan{{ post.modal-id }}" class="btn btn-success btn-lg" >
           Anmäl dig längst ner</a>
             </p>
              {% endif %}
            
            {% if post.content %}
            <div style="text-align:left">
            {{ post.content }}
            {% endif %}
            </div>
            {% unless post.anmalan %}
            <div id="anmalan{{ post.modal-id }}">
            {% include contact_static.html %}
            </div>
            {% endunless %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
