---
layout: default
title: About
image: /images/page-1.jpg
image_alt: My best photo
---

{% include page-heading.html title=page.title %}
{% include page-image.html image=page.image image_alt=page.image_alt %}

<div class="page animate">
  <p>In omni enim arte vel studio vel quavis scientia velas in ipsa virtute
  optimum quidque est...</p>

  <blockquote><p>The longer I live, the more I realize that I am
  never wrong about anything...</p></blockquote>

  <p>Ego quoque, inquit...</p>
</div>

{% include newsletter.html
  newsletter_title="Join my mailing list"
  newsletter_description="Get inspiration, updates and, cool stuff!"
  newsletter_identifier="frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&id=3038727cc3"
  newsletter_button="Subscribe"
%}