---
layout: default
title: Home
---

{% include hero.html
  title="Hej!"
  description_html="<p> Jag heter Niklas Fännick, och är <b>smed</b>, <strong>konstsmidesmästare</strong> och <strong>konstnär</strong> sedan 20 år. Jag och min fru är verksamma på Kullahalvön, där vi bland annat leder kurser i metallhantverk. <a href="#contact">Hör av dig!</a></p>"
  image="/images/avatar.jpg"
  hero_image_alt="Niklas porträtt"
  cta_button="Kontakta mig"
  cta_button_link="#contact"
  works_button="Se vilka kurser vi erbjuder"
  works_button_link="#projects"
%}

{% include projects-section.html
  title="Kurserna"
  description_html="<p>Dessa är några av kurserna vi erbjuder.</p>"
  link_url="/kurser/"
  show_projects=true
%}

{% include contact-form.html
  form_title="Kontakta mig"
  form_description="Har du frågor? Jag har svar."
  form_submission_email="niklasfannick@gmail.com"
  form_button_text="Skicka"
%}