---
layout: default
title: Home
---

{% include hero.html
  title="Hej! Jag är Niklas Fännick."
  description_html="<p><strong>Mästersmed</strong> och <strong>konstnär</strong> från Göteborg. Jag och min fru håller smideskurser lite utanför Helsingborg. Kom och hälsa på vettja!</p>"
  image="/images/avatar.jpg"
  hero_image_alt="Niklas porträtt"
  cta_button="Kontakta mig"
  cta_button_link="#contact"
  works_button="Se vilka kurser vi erbjuder"
  works_button_link="#projects"
%}

{% include projects-section.html
  title="Kurserna"
  description_html="<p>Dessa är några av kurserna vi erbjuder.</p>"
  link_url="/projects"
  show_projects=true
%}

{% include contact-form.html
  form_title="Kontakta mig"
  form_description="Har du frågor? Jag har svar."
  form_submission_email="niklasfannick@gmail.com"
  form_button_text="Skicka"
%}