---
layout: default
title: Home
---

{% include hero.html
  title="Hej! Jag är Niklas Fännick."
  description_html="<p><strong>Mästersmed</strong> och <strong>konstnär</strong> från Göteborg. Jag och min fru håller smideskurser lite utanför Helsingborg. Kom och hälsa på vettja!</p>"
  image="/images/avatar.jpg"
  hero_image_alt="Niklas porträtt"
  cta_button="Kontakta mig"
  cta_button_link="#contact"
  works_button="Se vilka kurser vi erbjuder"
  works_button_link="#projects"
%}

{% include projects-section.html
  title="Kurserna"
  description_html="<p>Dessa är några av kurserna vi erbjuder.</p>"
  link_url="/projects"
  show_projects=true
%}

{% include testimonials-section.html
  title="Vad folk säger"
  show_testimonials=true
%}

{% include blog-section.html
  title="Blågg"
  description_html="<p>Läs vår blågg och få reda på vad som händer! Jag postar även projekt, tips, och små lektioner där du kan lära dig smidets ädla konst.</p>"
  link_url="/blog"
  show_posts=true
%}

{% include newsletter.html
  newsletter_title="Gå med i vår mejlinglista"
  newsletter_description="Få inspiration, updateringar och annat kul!"
  newsletter_identifier="frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&id=3038727cc3"
  newsletter_button="Subscribe"
%}

{% include contact-form.html
  form_title="Kontakta mig"
  form_description="Har du frågor? Jag har svar."
  form_submission_email="niklasfannick@gmail.com"
  form_button_text="Skicka"
%}